{% extends "base.html" %}

{% block content %}
<h1>List of genres</h1>
<ul>
    {% for genre in object_list %}
        <li>
            {% if genre.movies.all.count %}
                <a href="{% url 'genre' genre.id %}">{{ genre }}</a>
            {% else %}
                {{ genre }}
            {% endif %}
            (movies: {{ genre.movies.all.count }})
            {% if user.is_authenticated %}
                {% if perms.viewer.change_genre %}
                    <a href="{% url 'genre_update' genre.id %}">✏️</a>
                {% endif %}
                {% if perms.viewer.delete_genre %}
                    <a href="{% url 'genre_delete' genre.id %}">❌</a>
                {% endif %}
            {% endif %}
        </li>
    {% empty %}
        <p>List of genres is empty.</p>
    {% endfor %}
</ul>

{% if user.is_authenticated %}
    {% if perms.viewer.add_genre %}
        <a href="{% url 'genre_create' %}">✖️</a>
    {% endif %}
{% endif %}
{% endblock %}