{% extends "base.html" %}

{% block content %}
{% comment %}
TODO: upravit vzhled
{% endcomment %}
<!-- TODO test -->
<div class="movie-details">
    <h1>{{ movie.title|upper }}</h1>
    <p>Žánr: {{ movie.genre.name }}</p>
    <p>Rating: {{ movie.rating }}</p>
    <p>Released: {{ movie.released|date:"j. n. Y" }}</p>
    <p>Popis: {{ movie.description }}</p>

    {% if user.is_authenticated %}
        <a href="{% url 'movie_update' movie.id %}">Update</a>
        <a href="{% url 'movie_delete' movie.id %}">Delete</a>
    {% endif %}
</div>
{% endblock %}