{% extends "base.html" %}

{% block content %}
<h1>List of profiles</h1>
<ul>
    {% for profile in profiles %}
        <li>
            <a href="{% url 'profile' profile.id %}">{{ profile }}</a>
            {% if user.is_authenticated %}
                {% if request.user == profile.user or request.user.is_staff %}
                    <a href="{% url 'profile_update' profile.id %}">✏️</a>
                    <a href="{% url 'profile_delete' profile.id %}">❌</a>
                {% endif %}
            {% endif %}
        </li>
    {% endfor %}
</ul>

{% endblock %}